

* {
/*  box-sizing: border-box;   */

}

h1 {
	margin-bottom: 15px;
  font-size: 1.75em; 
}

div#container {
  box-sizing: border-box;   
  border: none;
	border-bottom: 20px;
	background-color: white;
/*	margin-top: 0px; */
	margin-bottom: 5px;
  margin-left: 0px;
	margin-right: 0px;  
  float: left;

/*	width: 100%; */
}

div {
  box-sizing: border-box;
  background-color: gray;
  padding-left: 7px;
  border: solid black;
  margin-left: 0px;     
  border: 1px solid black;
}


#chicken {
	box-sizing: border-box; 
	border: 1px solid black;
	margin-top: 0px;
	height: 30px;
	width: 100px; 
	text-align: center;		
	font-weight: bold;
	background-color: red;
/*	box-sizing: relative; */
	float: right;
  font-size: 1.25em;

}

#beef {
	box-sizing: border-box;
	border: 1px solid black;
	margin-top: 0px;	
	height: 30px;
	width: 100px;	
	text-align: center;	
	font-weight: bold;	
	color: white;
	background-color: blue;
/*	box-sizing: relative; */
	float: right;
  font-size: 1.25em; 
}

#sushi {
	box-sizing: border-box;
	border: 1px solid black;
	margin-top: 0px;		
	height: 30px;
	width: 100px;	
	text-align: center;	
	font-weight: bold;	
	background-color: green;
/*	box-sizing: relative; */
	float: right;	
  font-size: 1.25em;
}

#column {
	clear: both; 
}


@media (min-width: 992px) {
	.col-lg-3, .col-lg-4, .col-lg-6, .col-lg-12 {
		float: left;
		border: 1px solid black; 
	}
	.col-lg-3 {
		width: 25%;
	}
  .col-lg-4 {
    width: 33.33%;
  }
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-12 {
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-3, .col-md-4, .col-md-6, .col-md-12 {
		float: left;
		border: 1px solid black;
	}
	.col-md-3 {
		width: 25%;
	}
  .col-md-4 {
    width: 33.33;
  }  
	.col-md-6 {
		width: 50%;
	}
	.col-md-12 {
		width: 100%;
	}
}

@media (max-width: 767px) {
  .col-sm-12, {
    float: left;
    border: 1px solid black;
  }
  .col-sm-12 {
    width: 100%;
  }
}
